@font-face {
    font-family: hankenRound;
    src: url('./hankenround-Regular.ttf');
}
@font-face {
    font-family: glympsePeriyotman;
    src: url('./Glimpse-Periyotman.otf');
}
@font-face {
    font-family: hoonigan3d;
    src: url('./gunplay3d.ttf');
}
@font-face {
    font-family: hooniganRegular;
    src: url('./gunplay-rg.ttf');
}