@import './base.css';
@import './fonts/fonts.css';

#app {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  position: relative;
}
h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: hankenRound;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);

  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  #app {
    display: flex;
  }
}
