@import "./base.scss";
@import "./fonts/fonts.css";
@import "../scss/mixing";

#app {
  @include setFlex(center, center);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  position: relative;
  
}

::-webkit-scrollbar {
  width: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: hankenRound;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
a {
  text-decoration: none;
  color: $white;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);

  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  #app {
    display: flex;
  }
} */
