@mixin setFlex($justify-content: flex-start, $align-item: flex-start, $flex-direction: row) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-item;
    flex-direction: $flex-direction;
}

@mixin backgroundImage($url) {
    background-image: url($url);
    background-position: center;
    background-size: contain;
    background-repeat: repeat-y;
    width: 100%;
    height: auto;
}

@mixin flexing(){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 center;
}